@media (min-width: 767px) and (max-width: 1199px) {
  .aside_box {
    max-width: 262px
  }
}

@media (min-width: 1200px) {
  .aside_box {
    max-width: 262px;
  }
}

.post_box {
  display: flex;
  margin-bottom: 22px;
}

.post_image {
  width: 71px;
  height: 71px;
  margin-right: 13px;
}

.aside_h {
  padding-top: 5px;
}

.h3_link {
  font-size: 14px;
  color: #000000;
  font-weight: bold;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
}

.form {
  margin-top: 62px;
  margin-bottom: 40px;
}

.sub_form {
  display: flex;
}

.input_search {
  width: 100%;
  height: 48px;
  padding: 10px;
  background: #f4f7f6;
  border: 0;
}

.subscribe_form {
  margin-bottom: 60px;
}

.search {
  width: 48px;
  height: 48px;
  border: none;
  background-image: url("../svg/search.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #b59f5b;
  background-size: 21px;
}


.input_subscribe {

  width: 92.5%;
  height: 28px;
  background: #f4f7f6;
  border: 0;
  padding: 10px;
  margin-bottom: 18px;
}

.subscribe-label {
  font-family: 'Open Sans';
  font-size: 13px;
  padding-left: 10px;
  color: f4f7f6;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
} 

.subscribe_button {
  width: 100%;
  height: 48px;
  background-color: #b59f5b;
  border: 0;
}

.button-link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
}

.tags {
  margin-bottom: 60px;
}

.tags_list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-bottom: 40px;
}

.tags_item {
  display: inline-block;
  margin-right: 12px;
  margin-bottom: 36px;
}

.tags_link {
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  border: 2px solid #eeeeee;
  padding: 7px 15px;
  color: #000000;
}

@media (min-width: 767px) and (max-width: 1199px) {
  .tags_item {
    display: inline-block;
    margin-right: 12px;
    margin-bottom: 20px;
  }

  .tags_link {
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    border: 2px solid #eeeeee;
    padding: 3px 8px;
    color: #000000;
  }

  .theme_item {
    border-bottom: 1px solid #eeeeee;
    margin-top: 15px;
    padding-bottom: 10px;
    max-width: 250px;
  }
}

.theme {
  margin-bottom: 60px;
}

.theme_item {
  border-bottom: 1px solid #eeeeee;
  margin-top: 15px;
  padding-bottom: 10px;
  width: 328px;
}

@media (min-width: 1200px) {
  .tags_item {
    display: inline-block;
    margin-right: 12px;
    margin-bottom: 20px;
  }

  .tags_link {
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    border: 2px solid #eeeeee;
    padding: 3px 8px;
    color: #000000;
  }
  
  .theme_item {
      border-bottom: 1px solid #eeeeee;
      margin-top: 15px;
      padding-bottom: 10px;
      max-width: 250px;
  }
}

.theme_link {
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: #000000;
}

.theme_number {
  font-style: normal;
  font-size: 12px;
  color: #b59f5b;
  vertical-align: 0.8em;
}
